

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #050706;
    color: white;
}




.container,
.nav-container {
    width: min(90%, 1200px);
    margin: auto;
}


.navbar {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;

    background-color: #050706;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.nav-container {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    color: white;
    text-decoration: none;

    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #bef264;
}



.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: rgba(255, 255, 255, 0.75);

    text-decoration: none;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #bef264;
}




.menu-btn {
    display: none;

    background: transparent;
    color: white;

    border: none;

    font-size: 24px;
    cursor: pointer;
}


.mobile-menu {
    display: none;

    flex-direction: column;
    gap: 20px;

    padding: 20px 5%;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
}



.hero {
    min-height: 100vh;

    padding-top: 180px;
}


.hero-tag {
    color: #bef264;

    font-size: 13px;
    font-weight: bold;

    letter-spacing: 4px;

    margin-bottom: 25px;
}


.hero-title {
    font-size: clamp(70px, 10vw, 150px);

    line-height: 0.9;

    letter-spacing: -5px;
}


.hero-title span {
    color: #bef264;
}




@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        padding-top: 140px;
    }

    .hero-title {
        letter-spacing: -2px;
    }

}


@media (max-width: 480px) {

    .hero-title {
        font-size: 65px;
    }

    .hero-tag {
        font-size: 10px;
        letter-spacing: 2px;
    }

}